:root {

	font-size: 15px;
	
	--disabled: darkgrey;
	--background: whitesmoke;

	--warn: 255, 130, 0;
	--success: 0, 130, 0;
	--error: 130, 0, 0;

	--light: 255, 255, 255;
	--muted: 130, 130, 130;
	--dark: 30, 30, 30;
	--primary: 0, 130, 255;
	--secondary: 255, 130, 130;

	--hover: 0.8;
	--hover-smoke: 0.6;
	--smoke: 0.1;

	--shadow: rgba(0, 0, 0, 0.1);
	--action: rgba(0, 0, 0, 0.3);
	--background: rgba(0, 0, 0, 0.1);

	--animation-speed: 300ms;
	--animation-type: ease-in-out;
	--animation: var(--animation-speed) var(--animation-type);

	--animation-background-speed: 300ms;
	--animation-background-type: ease-in-out;
	--animation-background: var(--animation-background-speed) var(--animation-background-type);

    --o-loader-icon-color: rgb(var(--dark));
    --o-loader-background: rgba(var(--light), var(--hover-smoke));

    --o-panel-menu-icon: rgb(var(--primary));
	--o-panel-bar-icon: rgb(var(--light));
	--o-panel-shadow: var(--shadow);
    --o-panel-transition: var(--animation);

	--o-panel-menu-background: rgb(var(--light));
	--o-panel-tray-background: rgb(var(--light));

	--o-panel-bar-color: rgb(var(--light));
	--o-panel-bar-background: rgb(var(--primary));

    --o-panel-icon-hover: var(--shadow);
    --o-panel-item-hover: var(--shadow);

    --o-panel-icon-active: var(--action);
    --o-panel-item-active: var(--action);

	--o-toast-warn: rgb(var(--warn));
	--o-toast-error: rgb(var(--error));
	--o-toast-color: rgb(var(--light));
	--o-toast-shadow: var(--shadow);
	--o-toast-widget: rgb(var(--primary));
	--o-toast-success: rgb(var(--success));
    --o-toast-transition: var(--animation);

	--o-modal-color: rgb(var(--dark));
	--o-modal-widget: rgb(var(--light));
	--o-modal-shadow: var(--shadow);
    --o-modal-transition: var(--animation);
	--o-modal-background: var(--background);
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-size: 1rem;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	overflow-x: hidden;
	color: rgba(var(--dark), 1);
	background-color: var(--background);
	transition: opacity var(--animation-background);
}
main {
    margin: auto;
    max-width: 1200px;
}
h1 {
	font-weight: 300;
	font-size: 2.9rem;
	letter-spacing: 1px;
    text-transform: capitalize;
}
h2 {
	font-weight: 300;
	font-size: 1.9rem;
	letter-spacing: 1px;
	text-transform: capitalize;
}
h3 {
	font-weight: 100;
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: capitalize;
}
ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
	list-style-position: inside;
}
li {
	margin: 1px;
	padding: 6px;
}
a {
	text-decoration: none;
}
object {
	pointer-events: none;
}
form {
	position: relative;
	/* margin: 3rem 0 0.3rem 0; */
}
textarea {
	transition: all var(--animation);
}
select {
    cursor: pointer;
}
input,
select,
textarea {
	border: none;
    display: block;
    margin: 0.3rem;
	padding: 0.3rem;
    font-size: 1rem;
	background: none;
    margin-top: 1.9rem;
	font-family: inherit;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	transition: all var(--animation);
	border-bottom: 1px solid rgba(var(--muted), 1);
}
input:disabled,
select:disabled,
textarea:disabled,
input:hover:disabled,
select:hover:disabled,
textarea:hover:disabled {
	cursor: unset;
	border-bottom-color: var(--disabled);
}
input:hover,
select:hover,
textarea:hover {
	border-bottom-color: rgba(var(--dark), 1);
}
input:focus,
select:focus,
textarea:focus {
	border-bottom-color: rgba(var(--primary), 1);
}
/*
input:focus:valid,
select:focus:valid,
textarea:focus:valid {
	border-bottom-color: rgb(var(--success));
}
*/
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
	border-bottom-color: rgb(var(--warn));
}
input + label {
	height: 0;
    cursor: text;
    display: block;
	font-size: 0.9rem;
    pointer-events: none;
    color: rgba(var(--muted), 1);
	transform: translate(0.6rem, -3rem);
	transition: color var(--animation-background);
}
input:disabled + label,
select:disabled + label,
textarea:disabled + label,
input:hover:disabled + label,
select:hover:disabled + label,
textarea:hover:disabled + label {
	color: var(--disabled);
}
input:hover + label,
select:hover + label,
textarea:hover + label {
    color: rgb(var(--dark));
}
input:focus + label,
select:focus + label,
textarea:focus + label {
    color: rgb(var(--primary));
}
/*
input:focus:valid + label,
select:focus:valid + label,
textarea:focus:valid + label {
    color: rgb(var(--success));
}
*/
input:focus:invalid + label,
select:focus:invalid + label,
textarea:focus:invalid + label {
    color: rgb(var(--warn));
}
table {
    width: 100%;
    max-width: 100%;
	border-collapse: collapse;
	/* border: 1px solid rgba(var(--muted), 1); */
}
tbody {
	overflow-y: auto;
    /* max-height: 600px; */
}
thead {
	border-top: 1px solid rgba(var(--muted), 1);
    border-bottom: 1px solid rgba(var(--muted), 1);
	/* background-color: rgba(var(--muted), 1); */
}
th {
	flex: 1;
	padding: 12px;
	font-size: 1.1rem;
	font-weight: bolder;
	word-wrap: break-word;
}
td {
	flex: 1;
	padding: 6px;
	display: flex;
	align-items: center;
	word-wrap: break-word;
	word-break: break-all;
	justify-content: center;
}
tr {
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
}
tr:nth-child(even) {
	border-top: 1px solid rgba(var(--muted), 1);
	border-bottom: 1px solid rgba(var(--muted), 1);
}
td:nth-child(even) {
	border-left: 1px solid rgba(var(--muted), 1);
	border-right: 1px solid rgba(var(--muted), 1);
}
tr:nth-child(1) {
	border-top: none;
}
tr:nth-last-child(1) {
	border-bottom: none;
}
td:nth-child(1) {
	border-left: none;
}
td:nth-last-child(1) {
	border-right: none;
}
.icon {
	cursor: pointer;
}
.icon.small {
	width: 1.6rem;
	height: 1.6rem;
	margin: 0.1rem;
}
.card {
	margin: 1rem;
	padding: 1.6rem;
	text-align: left;
	border-radius: 3px;
	background: rgba(var(--light), 1);
}
.button:focus,
.button:valid,
.button:active,
.button:invalid,
.button:disabled {
	border: none;
}
.button {
	height: initial;
	cursor: pointer;
	font-size: 1rem;
    border-radius: 3px;
    margin: 1rem 0.3rem;
    letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	padding: 0.6rem 1.9rem;
	text-transform: uppercase;
	border: 1px solid transparent;
	background-color: transparent;
	transition: all var(--animation);
}
.button.right {
	clear: both;
	float: right;
}
.button.smoke {
	color: rgba(var(--dark), 1);
	background-color: var(--shadow);
}
.button.solid {
	color: rgba(var(--light), 1);
	background-color: rgba(var(--dark), 1);
}
.button.solid.primary {
	color: rgba(var(--light), 1);
	background-color: rgba(var(--primary), 1);
}
.button.smoke.primary {
	color: rgba(var(--primary), 1);
	background-color: rgba(var(--primary), var(--smoke));
}
.button.solid.secondary {
	color: rgba(var(--light), 1);
	background-color: rgba(var(--secondary), 1);
}
.button.smoke.secondary {
	color: rgba(var(--secondary), 1);
	background-color: rgba(var(--secondary), var(--smoke));
}
.button.solid.warn {
	color: rgba(var(--light), 1);
	background-color: rgb(var(--warn), 1);
}
.button.smoke.warn {
	color: rgba(var(--warn), 1);
	background-color: rgba(var(--warn), var(--smoke));
}
.button.solid.success {
	color: rgba(var(--light), 1);
	background-color: rgba(var(--success), 1);
}
.button.smoke.success {
	color: rgba(var(--success), 1);
	background-color: rgba(var(--success), var(--smoke));
}
.button.solid.error {
	color: rgba(var(--light), 1);
	background-color: rgba(var(--error), 1);
}
.button.smoke.error {
	color: rgba(var(--error), 1);
	background-color: rgba(var(--error), var(--smoke));
}
.button.solid:hover,
.button.smoke:hover,
.button.solid.primary:hover,
.button.smoke.primary:hover,
.button.solid.secondary:hover,
.button.smoke.secondary:hover,
.button.solid.warn:hover,
.button.smoke.warn:hover,
.button.solid.success:hover,
.button.smoke.success:hover,
.button.solid.error:hover,
.button.smoke.error:hover {
	opacity: var(--hover);
	border-color: transparent;
}
.button.solid:active,
.button.smoke:active,
.button.solid.primary:active,
.button.smoke.primary:active,
.button.solid.secondary:active,
.button.smoke.secondary:active,
.button.solid.warn:active,
.button.smoke.warn:active,
.button.solid.success:active,
.button.smoke.success:active,
.button.solid.error:active,
.button.smoke.error:active {
    filter: brightness(60%);
}
.button.solid:disabled,
.button.solid:disabled:hover,
.button.smoke:disabled,
.button.smoke:disabled:hover {
	cursor: not-allowed;
	filter: grayscale(80%);
}
