
.row, .column, .start, .end, .center,
.between, .around, .middle, .wrap,
.fill, .grow, .shrink {
	display: flex;
}

.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}

.start {
	align-self: flex-start;
}
.end {
	align-self: flex-end;
}
.center {
	align-self: center;
}

.between {
	justify-content: space-between;
}
.around {
	justify-content: space-around;
}
.middle {
	justify-content: center;
}

.wrap {
	flex-flow: wrap;
}
.fill {
	flex: 1 1 100%;
	min-width: 100vw;
	min-height: 100vh;
}

.grow {
	flex: 1 0 auto;
}
.shrink {
	flex: 0 1 auto;
}
